body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 100px;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: var(--sidebar-bg);
}

.report-box {
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  padding: 12px;
  border-radius: 15px;
  display: flex;
  align-items: flex-start; 
  text-align: left; 
  flex-direction: column;
  width: 90%;
  margin-bottom: 20px;
}

.profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.profile-picture img {
  width: 110%;
  height: 100%;
  object-fit: cover;
}

.timeframe-selector {
  background-color: var(--dark-blue);
  color: var(--text-on-primary-color);
  padding: 2px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.timeframe-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: var(--text-gray);
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--timeframe-bg);
}

.timeframe-item.active {
  color: var(--text-on-primary-color);
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.top-row, .bottom-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    padding-top: 0px;
  }

  .left-sidebar {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--sidebar-bg);
  }

  .report-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .top-row, .bottom-row {
    flex-direction: column;
    gap: 20px;
  }

  .top-row > div, .bottom-row > div {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .top-row, .bottom-row {
    gap: 15px;
  }
}