* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--very-dark-blue);
  color: var(--text-muted-color);
}

.app {
  max-width: var(--desktop-width);
  margin: auto;
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .app {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .app {
    padding: 5px;
  }
}
